{% extends 'base.html' %}

{% block content %}



Je mehr richtige Antworten, desto mehr Cocktail!

<p>
Der Vögelroboter soll zwei Leidenschaften vereinen, die kombiniert noch mehr Lebensfreude bringen: Vogelbeobachtung und Cocktailkultur.
</p>

<p>
Hier können Sie Ihre Vögelerkennung üben. Und für richtige Antworten wird man mit einem Averna Sour belohnt.
</p>

<p>
Je mehr richtige Antworten, desto mehr Cocktail!
</p>

<p>
Sie sehen ein Bild eines Vogels und drei Vorschläge. Wählen Sie den richtigen Namen für den Vogel und lassen Sie sich Ihre Belohnung schmecken!
</p>

<!--

<ul>
    <li><a href={{ url_for('bird_list') }}>List Birds</a></li>
</ul>
-->
{% endblock %}


